body {
    margin: auto;
	font-family: Arial, Helvetica, sans-serif;
    background-color: #0E1217;
}

/* MENU PRINCIPAL */ 
#main-menu {
    background-color: #151A24;
    margin: auto;
    display: flex;
    padding: 1%;
    box-shadow: 0px 1px 8px 2px black;
}

#main-menu ul {
    list-style-type: none;
    width: 80%;
    text-align: right;
}

#main-menu ul li {
    display: inline-block;
    margin-left: 2%;
    margin-top: 5.5%;
}

#main-menu ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-out;
}

#main-menu ul li a:hover {
    color: #1784D6;
    text-decoration: underline;
}

#main-menu img {
    display: inline-block;
    width: 20vh;
}


/* SECTION FILM N°1 */
#best-movie {
    background-color: #151A24;
    padding: 1%;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

#best-movie .about-movie {
    width: 90%;
    color: #A2A2A2;
    text-align: center;
    margin-top: 3%;
}

#best-movie .about-movie h2 {
    color: white;
}

#best-movie .about-movie .btn-play, #best-movie .about-movie .btn-more {
    width: 20%;
    padding: 2%;
    background-color: #13649F;
    color: white;
    border-width: 0;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
}

#best-movie .about-movie .btn-play:hover, #best-movie .about-movie .btn-more:hover {
    background-color: #1784D6;
}

#best-movie img {
    width: 10%;
}

/* FILMS PAR CATEGORIE */
#comedy, #thriller, #horror, #best-rated {
    color: rgb(187, 187, 187);
    text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 2%;
    overflow: hidden;
    align-items: center;
}

#content-best-rated, #content-horror, #content-thriller, #content-comedy {
    display: flex;
    position: relative;
    left: 0px;
    transition: all 0.7s ease;
    width: 95%;
}

.btn-left, .btn-right {
    margin-right: 5%;
    margin-top: 2%;
    background-color: #13649F;
    border: 0;
    color: white;
    padding: .8%;
    transition: background-color 0.4s ease-out;
    border-radius: 8px;
}

.btn-left:hover, .btn-right:hover {
    background-color: #1784D6;
}

/* FOOTER */
footer {
    background-color: #151A24;
    margin: auto;
    padding: 1%;
    text-align: center;
    box-shadow: 10px 0px 10px 3px black;
}

footer #menu-footer ul {
    list-style-type: none;
    width: 90%;
}

footer #menu-footer ul li {
    display: inline-block;
    margin-left: 2%;
}

footer #menu-footer ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-out;
}

footer #menu-footer ul li a:hover {
    color: #1784D6;
    text-decoration: underline;
}

/* MODAL */

.informations {
    display: flex;
    color: white;
}

.informations img {
    margin-right: 2%;
    width: 30%;
}

.modal-details-movie, .info-details p {
    color: rgb(177, 177, 177);
}

.info-details {
    font-size: 14px;
}

.info-details .resume-movie {
    color: white;
}

.info-details p .actors, .info-details p .directors, .info-details p .score-imdb, p .box-office {
    color:#13649F;
}

.modal {
    visibility: hidden;
}

.modal .overlay {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
}

.modal .content {
    padding: .5%;
    background-color:#151A24;
    border-radius: 8px;
    position: fixed;
    top: 30%;
    left: 15%;
    width: 70%;
}

.modal .content .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 1%;
    background-color: #13649F;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid #13649F;
    transition: background-color 0.4s ease-out;
}

.modal .content .btn-close:hover {
    background-color: #1784D6;
    border: 2px solid #1784D6;
}


/* CONTAINER IMAGE FILM */

.movie-container {
    position: relative;
    margin-bottom: 2%;
    margin-left: 2%;
    display: block;
}

.movie-container .movie-img {
    width: 200px;
    height: 300px;
}

.movie-container .movie-content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-color: #333333d3;
    transition: opacity 0.4s ease-out;
}

.movie-container .movie-content:hover {
    opacity: 1;
}

.movie-container .movie-content h3 {
    margin-top: 50%;
    text-align: center;
    color: white;
    vertical-align: middle;
}

.movie-container .movie-content .movie-controls {
    text-align: center;
}

.movie-container .movie-content .movie-controls button {
    background-color: #13649F;
    border: 0;
    padding: 5%;
    color: white;
    border-radius: 8px;
    transition: background-color 0.4s ease-out;
    margin-right: 5%;
}

.movie-container .movie-content .movie-controls button:hover {
    background-color: #1784D6;
}


/* VERSION MOBILE */
@media screen and (max-width: 600px) {
    #main-menu {
        flex-direction: column;
        padding-bottom: 5%;

    }

    #main-menu a, #main-menu ul {
        margin: auto;
        width: 90%;
        text-align: center;
    }

    #main-menu ul li{
        display: block;
        width: 90%;
    }

    #best-movie {
        flex-direction: column-reverse;
        width: 90%;
        margin-top: 5%;
        padding-bottom: 5%;
    }

    #best-movie img {
        padding-top: 2%;
        margin: auto;
        width: 80%;
    }

    #best-movie aside {
        margin: auto;
    }

    #best-movie .about-movie .btn-play, #best-movie .about-movie .btn-more {
        width: 100%;
        margin-top: 2%;
    }

    .informations {
        flex-direction: column;
        text-align: center;
    }

    .informations img {
        padding-top: 5%;
        width: 50%;
        margin: auto;
    }
    .modal .content {
        top: 2%;
        left: 4%;
        width: 90%;
        padding: 1%;
    }

    footer #menu-footer ul li {
        display: block;
    }
}